html{
    height:100%;
    font-family: arial, sans-serif;
}

a {    
    text-decoration: none;
}

body{
    min-height:100%;
    padding:0;
    margin:0;
    position:relative;
}

footer{ 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100px; 
}

.services-list {
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    padding: 0; 
    overflow: hidden;
    background-color: #dddddd;    
}

#login-button {
    background-color: rgb(66, 133, 244);
    font-weight: 700;
    color: white;
    padding: 0px 12px 0px 12px;
    line-height: 28px;
    border-style: solid;
    border-color: rgb(66, 133, 244);
    border-width: 1px 1px 1px 1px;
    border-radius: 2px;
}

#google-apps-button {
    background-image: url("res/buttons_pic.png");
    box-sizing: border-box;
    background-position: -132px -38px;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    opacity: 0.55;
}

#google-apps-button:hover {
    opacity: 0.9;
}

.services-list li {
    display: inline;
    float: right;
}

.services-list a {
    display: block;
    float: right;
    padding: 7px 16px;
    font-size: 13px;
    opacity: 0.85;
    color: rgba(0, 0, 0, 0.85);
}

.services-list a:hover {
    text-decoration: underline;
}

.services-list a:visited {
    text-decoration: underline;
}

label{
    cursor:pointer;
    display:inline-block;
    transition:1s ease;
}

header{
    background:#C7DD8B;
    height:50px;
}

main {
    align-items: center;
}

footer{
    background: #f2f2f2;
    color:rgba(0,0,0,.54);
}
