html{
    height:100%;
}

body{
    min-height:100%;
    padding:0;
    margin:0;
    position:relative;
}

footer{ 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100px; 
}

body{
    font:sans;
}

label{
    cursor:pointer;
    display:inline-block;
    transition:1s ease;
}

header{
    background:#C7DD8B;
    height:50px;
}

footer{
    background: #f2f2f2;
    color:rgba(0,0,0,.54);
}
